@import "tailwindcss";
@plugin "daisyui";

.nav-link {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    

}

.nav-link.active {
    color: blue;
    font-weight: bold;
    /* text-decoration: underline; */
}
.nav-link:hover{
    text-decoration: underline;
}